.burger-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burger-container:focus {
  outline: none;
}

.burger-div {
  width: 1.5rem;
  height: 0.2rem;
  background: rgba(0, 0, 0, 0.54); /* Default color */
  border-radius: 10px;
  transition: all 0.3s linear;
}

/* Dynamically change these based on the 'open' class being present or not */
.burger-container.open .burger-div:nth-child(1) {
  transform: rotate(45deg) translate(0.35rem, 0.35rem); /* Adjusted for alignment */
}

.burger-container.open .burger-div:nth-child(2) {
  opacity: 0;
}

.burger-container.open .burger-div:nth-child(3) {
  transform: rotate(-45deg) translate(0.3rem, -0.3rem); /* Adjusted for alignment */
}

/* When the menu is not open */
.burger-container .burger-div:nth-child(2) {
  opacity: 1;
  transform: translateX(0);
}
