.classCard_upper {
  background-color: #008d7d;
  height: 90px;
  position: relative;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}

.classCard {
  width: 300px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.classCard_middle {
  height: 190px;
  border-bottom: 1px solid #dcdcdc;
}

.classCard_photo {
  position: absolute;
  right: 5px;
  border-radius: 9999px;
}

.classCard_className {
  font-weight: 600;
  font-size: 30px;
}

.classCard_subject {
  position: absolute;
  bottom: 12px;
  font-size: 15px;
}

.classCard_lower {
  display: flex;
  flex-direction: row-reverse;
}
