input[type="text"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Patrick Hand", cursive, sans-serif;
  background-color: white;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-bottom: 1px solid black;
}

.signup-container {
  max-width: 400px;
  height: 300px;
  width: 100%;
  margin: 250px auto 0;
  border-radius: 5px;
  position: relative;
  text-align: center;
}
#login-form {
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.form-input {
  margin: 0 0 30px;
  flex-basis: 45%;
  width: 100%;
}

.form-input input {
  width: 100%;
  border: 0;
  padding: 8px 5px;
  margin: 5px 0;
}

.login-btn {
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}

.login-btn:hover {
  background-color: black;
  color: white;
}
