.navbar {
  width: 100vw;
  height: 65px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.navbar_left,
.navbar_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navbar__left img {
  margin-right: 20px;
  margin-left: 20px;
} */

.navbar_left span {
  font-size: 20px;
}

.navbar_logo {
  width: 100px;
  margin-right: 20px;
  margin-left: 20px;
}

.nav-span {
  font-family: "Google Sans", "Roboto", Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #5f6368;
}

.nav-span:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
/* .dropdown-menu {
  position: absolute;
  right: 20px; 
  top: 60px; 
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
} */

/* .dropdown-menu button {
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 8px 10px;
  cursor: pointer;
  color: #333; 
  transition: background-color 0.2s ease-in-out;
}

.dropdown-menu button:hover {
  background-color: rgba(0, 0, 0, 0.05); 
} */

/* Additional styling for responsive adjustments or aesthetic preferences can be added here */
.navbar_user-avatar {
  border-radius: 40%;
  height: 50px; /* Adjust based on your preference */
  width: 40px; /* Adjust based on your preference */
  object-fit: cover; /* Ensures the image covers the area without losing its aspect ratio */
}
